{% extends 'base.html' %}

{% block title  %} List appointments {% endblock %}
{% block content  %} Details of appointment:
    <form action="{% url 'appointment_app:details_appointment' appt_detail.id %}" method="post">
        Date: {{ appt_detail.date }}, </br>
        time: {{ appt_detail.time }}, </br>
        duration: {{ appt_detail.duration }}, </br>
        physician: {{ appt_detail.doctor }}, </br>
        physician rating: {{ appt_detail.doctor.get_rating }}, </br>
        place: {{ appt_detail.place }} </br>
        room: {{ appt_detail.place.room_name }} <br>

        {% if appt_detail.user_id == request.user.id and request.user.id != None %}
            <p>
                <button type="submit" name="cancel" value="cancel_me">Cancel visit</button>
            </p>
        {% else %}
            <p>
            Book this visit?
            <button type="submit" name="book_yes" value="book_me">YES</button>
            </p>
        {% endif %}

        <button type="submit" name="search_new" value="search">Search new</button>

        {% csrf_token %}
    </form>
{% endblock %}