{% extends 'base.html' %}

{% block title  %} HOMEPAGE {% endblock %}
{% block content  %} You are on the home page </br>

    <a href="appointments/search/">Search free appointments</a> </br>
    <a href="appointments/booked/list/">List your booked appointments (login required)</a> </br>
    </br>
    <a href="appointments/list/">List all free appointments</a> </br>
    <a href="appointments/booked/all/">List all booked appointments</a> </br>
    </br>
    <a href="appointments/add/">Add new appointment</a> Not ready yet !</br>
    <a href="doctors/list">Show all doctors</a> </br>
    <a href="specialities/list">Show all specialities</a> </br>

{% endblock %}