{% extends 'base.html' %}

{% block title  %} List appointments {% endblock %}
{% block content  %} List of all appointments that are available:
    <ul>
    {% for appointment in fappts %}
        <li>
            Date: {{ appointment.date }},
            time: {{ appointment.time }},
            duration: {{ appointment.duration }},
            Doctor: {{ appointment.doctor.name }} {{ appointment.doctor.surname }},
            speciality:
            {% for speciality in appointment.doctor.speciality.all  %}
                {{ speciality }}
            {% endfor %}
            place: {{ appointment.place.name }} at {{ appointment.place.address }}
            <a href="{% url 'appointment_app:details_appointment' appointment.id %}">details</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}